@media only screen and (max-width: 1320px) {
  .container {
    width: 900px !important;
  }
}

@media only screen and (max-width: 870px) {
  .container {
    width: 400px !important;
  }
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Lato', 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  min-width: 450px;
  width: 1300px;
}

#content {
  display: inline-block;
}

.channelTable {
  display: inline-block;
}

.firstCell > div {
  width: 600px;
  background-color: #123;
  display: inline-block;
  margin: 16px;
}

.channelCell {
  display: inline-block;
  width: 400px;
  margin: 16px;
  background-color: #bbb;
}

.displayName {
  font-weight: bold;
  font-size: 110%;
}

.channelLogo {
  /* display: inline-block; */
}

.channelLogo img {
  width: 120px;
  height: 120px;
  padding: 8px;
}

.maxKpm {
  display: inline-block;
}
.maxKpmDate {
  margin-left: 6px;
  display: inline-block;
}

.channelStatic {
  display: inline-block;
  max-width: 200px;
  padding: 10px;
}

.displayName {
  margin-bottom: 6px;
}

.channelDynamic {
  font-size: 80%;
  display: inline-block;
  max-width: 200px;
  color: #333;
  margin-bottom: 18px;
}

.maxKpmDate {
  font-size: 50%;
}

