@media only screen and (max-width: 1320px) {
  .container {
    width: 900px !important;
  }
}

@media only screen and (max-width: 870px) {
  .container {
    width: 400px !important;
  }
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Lato', 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 50vh;
  background-color: #123;
  text-align: center;
}

.container {
  margin: 0 auto;
  min-width: 450px;
  width: 1300px;
}

.blank {
  height: 10px;
}
.links {
  text-align: right;
  margin-bottom: 20px;
}

.links > a {
  margin-right: 15px;
}

.banner {
  display: inline-block;
  vertical-align: middle;
}
.banner > img {
  display: inline-block;
  vertical-align: middle;
}
.banner > div {
  vertical-align: middle;
  display: inline-block;
  font-size: 600%;
  font-weight: bold;
}

#content {
  display: inline-block;
}

.cells {
  width: 100%;
  text-align: center;
}

.cells > a {
  width: 100% !important;
  height: 50vh;
  display: inline-block;
  background-color: #123;
}

.channelTable {
  display: inline-block;
  text-align: center;
}

.channelCellFirst {
  display: inline-block;
  width: 600px;
  background-color: #f2f2f2;
  text-align: left;
}
.channelCell {
  display: inline-block;
  width: 400px;
  margin: 16px;
  background-color: #bbb;
  text-align: left;
}

.displayName {
  font-weight: bold;
  font-size: 110%;
}

.channelLogo {
  /* display: inline-block; */
}

.channelLogo img {
  width: 120px;
  height: 120px;
  padding: 8px;
}

.maxKpm {
  display: inline-block;
}
.maxKpmDate {
  margin-left: 6px;
  display: inline-block;
}

.channelStatic {
  display: inline-block;
  max-width: 200px;
  padding: 10px;
}

.displayName {
  margin-bottom: 6px;
}

.channelDynamic {
  font-size: 80%;
  display: inline-block;
  max-width: 200px;
  color: #333;
  margin-bottom: 18px;
}

.maxKpmDate {
  font-size: 50%;
}

