@media only screen and (max-width: 1320px) {
  .container {
    width: 900px !important;
  }
}

@media only screen and (max-width: 870px) {
  .container {
    width: 400px !important;
  }
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  min-width: 450px;
  width: 1300px;
}

#content {
  display: inline-block;
}

.channelTable {
  display: inline-block;
}

.channelCell {
  display: inline-block;
  width: 400px;
  margin: 16px;
  background-color: #eeeeee;
}

.channelLogo {
  /* display: inline-block; */
}

.channelLogo img {
  width: 64px;
  height: 64px;
}
