 html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.kappa-table {
  display: inline-block;
  margin-right: 25px;
}

.table-name {
  font-weight: bold;
  padding: 5px;
}

.tables {
  width: 1050px;
  margin: 0 auto;
  font-size: 110%;
  padding-bottom: 50px;
}

td {
  min-width: 3rem;
  padding: 0.3rem;
}

table,td,tr {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #a38eca;
}

tr:nth-child(odd) {
  background-color: #8569b8;
}

thead {
  font-weight: bold;
}
